body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(22,76,100,1) 0%, rgba(33,104,105,1) 100%);
  color: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
}